@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
:root {
  --font-sans:
      'Outfit', ui-sans-serif, system-ui, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';


  /* Light Theme Colors */
  --background: #FFFFFF;
  --foreground: #252525;
  --primary: #343434;
  --primary-foreground: #F9F9F9;
  --sidebar: #F9F9F9;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-sidebar: var(--sidebar);
}

/*  DARK MODE  */
.dark {
  --background: #0F172A; 
  --foreground: #E2E8F0;
  --primary: #3B82F6;    
  --primary-foreground: #000;
  --border: #424242;     
  --sidebar: #1E293B;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-sidebar: var(--sidebar);
}

body {
  @apply relative font-normal font-sans z-1 bg-gray-50;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
